@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1.2;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  color: white;
}

a, a:visited, a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
@font-face {
  font-family: 'GothaPro';
  src: local("☺"), url("../fonts/GothaProReg.woff") format("woff"), url("../fonts/GothaProReg.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.container {
  max-width: 775px;
  margin: 0 auto;
}

html {
  font-size: 1.375em;
}

body {
  background-color: #353638;
  font-family: 'GothaPro';
}

.timers {
  padding: 72px 0;
}

.timers__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(225px, 225px))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(225px, 225px));
  grid-auto-rows: 120px;
  grid-gap: 45px 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.timer {
  background-color: #696969;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #9E9E9E;
}

.timer__time {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  border-bottom: 1px solid #9E9E9E;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.timer__play-stop {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  padding: 0 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.timer__play:hover {
  cursor: pointer;
}

.timer__pause:hover {
  cursor: pointer;
}

.timer__stop:hover {
  cursor: pointer;
}

.timer-add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.timer-add__plus:hover {
  cursor: pointer;
}

.white {
  -webkit-filter: brightness(2);
          filter: brightness(2);
  -webkit-transition: 0.1s ease-out;
  transition: 0.1s ease-out;
}
/*# sourceMappingURL=style.css.map */